ol{
    list-style: none;
}
.space{
    background-color: rgb(7, 89, 92);
    color: aliceblue;
    padding: 5px;
    padding-left: 45px;
    
}
.margin{
    background-color: rgb(27, 121, 125);
    color: aliceblue;
    padding: 15px;
    margin-bottom: 15px;
}
.margin1{
    margin-bottom: 15px;
}

